img {
  width: 100%;
  object-fit: cover;
}

.box-shadow-heading {
  box-shadow: 4px 5px 0px $color-accent-dark;
}
.box-shadow-category {
  box-shadow: 3px 4px 0px #f2d1aa;
}
a {
  color: $color-accent-dark;
  font-weight: bold;
}
article.moe-post {
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
    margin: 10px auto;
  }
  h2 {
    font-size: 1.125rem;
  }
  h3 {
    font-size: 1.1rem;
  }

  img {
    width: unset;
    height: 400px;
    object-fit: contain;
    margin: 20px auto;
  }
  p {
    margin: 20px auto;
  }
  ul {
    list-style: circle;
    margin-left: 20px;
  }
  li {
    display: list-item;
  }
  pre {
    background: #434343;
    color: white;
    overflow-x: auto;
    padding: 20px;
    code {
      background: inherit;
    }
  }
  code {
    background: #fffada;
    word-break: break-all;
    padding: 0 5px;
  }
}
